<div class="content">

    {{if .Params.headerimagebottom}}
	    {{partial "img" .Params.headerimagebottom}}
	{{end}}
    
	{{ if .Params.Emoji }}
        <div class="emoji">{{.Params.Emoji}}</div>
    {{ end }}

    <div class="content-description">
        {{markdownify .Params.Description}}
    </div>

    {{ if .Params.features }}
    <div class="timeline-content">
        {{ range .Params.features }}
        <div class="panel-timeline">
            <div>
                {{ markdownify .contentmd }}
            </div>
			<div>
			    <img src="{{.image}}.png" srcset="{{.image}}x2.png 2x, {{.image}}x3.png 3x">
			</div>
        </div>
        {{end}}
    </div>
    {{ end }}
    
    <div class="content-more">
        {{markdownify .Params.More}}
        {{markdownify .Params.MoreDescription}}
    </div>
        
    {{ if .Params.ButtonLinkBottom.label}}
    <a {{if .Params.ButtonLinkBottom.url}} href="{{.Params.ButtonLinkBottom.url}}" {{else}}disabled{{end}}
                      rel="noreferrer noopener" class="link link-trello">
						<svg viewBox="0 0 20 20" height="20px" width="20px" fill="#ffffff">
						<use xlink:href="#icon-rocket"></use>
					</svg>&nbsp;&nbsp;<span>{{.Params.ButtonLinkBottom.label}}</span>
					</a>
    {{ end}}
</div>