
  
<div class="header">
				<div class="title">
					{{if ne .Params.SubType "trello"}}
						<span>{{.Params.SubTitle}}</span>&nbsp;<span>by</span>
					{{end}}
					<a href="https://vince.run" target="_blank" rel="noreferrer noopener">
						<img alt="" src="https://static.vince.run/vince-logo.png" width="114" height="47"/>
					</a>
					{{if eq .Params.SubType "trello"}}
						<span>{{.Params.SubTitle}}</span>
					{{end}}
					
				</div>
				<a {{if .Params.ButtonLinkTop.url}} 
					href="{{.Params.buttonLinkTop.url}}"
					{{else}}
                    disabled
					{{end}}
				 rel="noreferrer noopener" class="link link-trello">
					<svg viewBox="0 0 20 20" height="20px" width="20px" fill="#ffffff">
						<use xlink:href="#icon-rocket"></use>
					</svg>&nbsp;&nbsp;<span>{{.Params.ButtonLinkTop.label}}</span>
				</a>
				<div class="highlight">
					{{markdownify .Params.headermd }}
				</div>
				{{with .Params.headerimagetop}}
					{{partial "img" .}}
				{{end}}
			</div>