{{ partial "head" . }}

<div id="wrap">
    <section id="page-404">
        <div class="header">
				<div class="title">
					<a href="https://vince.run" target="_blank" rel="noreferrer noopener">
						<img alt="" src="https://static.vince.run/vince-logo.png" width="114" height="47"/>
					</a>
					
				</div>
				<div class="highlight">
					{{.Content}}                    
				</div>
				<!--<div class="spiral">
				</div>-->
			</div>
    </section>
</div>

{{ partial "vince-footer" . }}



